<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Monitores</h1>
    <%for(var i = 0; i < result.length; i++){%>
        <div class="cuadro">
            <h4><%=result[i].mo_usu%></h4>
            <p><%=result[i].mo_model%></p>
            <p>OS: <%=result[i].syst%></p>
            <P>Speed: <%=result[i].sped%></P>
            <p>CPU: <%=result[i].cpu%></p>
            <p>Memoria: <%=result[i].ram%></p>
        </div>
    <%}%>
    
    <script src="js/logic.js"></script>
</body>
</html>